body{
  font-family: Helvetica;
}

.center{
  width: 100%;
  text-align: center;
  padding: 1em;
}

#myName{
  transform: rotate(90deg);
  position: fixed;
  top: 230px;
  right: -310px;
  font-size: 4.3em;
  font-weight: 900;
}

#myName a{
  text-decoration: none;
  color: black;
}

#myName a:hover{
  color: purple;
}

#pageDescription{
  transform: rotate(90deg);
  font-weight: lighter;
  position: fixed;
  top: 250px;
  right: -150px;
}

.wrapper{
  padding: 3em;
}

p::selection{
  background-color: black;
  color: orange;
}

.parts{
  width: 60%;
  padding: 3em;
  margin-bottom: 1em;
  border: solid #eeeeee 3px;
}

.quotes{
  color: #cccccc;
  padding-left: 1em;
}

h4{
  color: #cccccc;
}
